button[type='submit'] {
  background-color: rgb(123, 139, 220);
  color: rgb(18, 10, 13);
  width: 25%;
  height: 2.5rem;
  border: none;
  cursor: pointer;
  border-radius: 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button[type='submit']:hover {
  background-color: rgb(97, 115, 207);
}

.incorect-email {
  color: red;
  padding-top: 1rem;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  button[type='submit'] {
    width: 50% !important;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  button[type='submit'] {
    width: 40% !important;
  }
}
